/*
CSS
Name: Nikolin Mele
Date Created: 03/11/2021
Date modified: 03/19/2021
*/

*{
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body{
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  color: #f0f0f0;
}

h1, 
h2{
  text-align: center;
  font-family:'Raleway', sans-serif;
  font-weight: 700;
}

h1{
  font-size: 6rem;
}
h2{
  font-size: 4.2rem;
}

/* Nav Bar*/
.nav{
  display: flex;
  position: fixed;
  justify-content: flex-end;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #be3144;
  box-shadow: 0 2px 0 rgba(0,0,0,0.4);
  z-index: 10;
}

.nav-List{
  list-style-type: none;
  display: flex;
  margin-right: 2rem;
}

.nav-List a{
  text-decoration: none;
  color: #f0f0f0;
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}

.nav-List a:hover{
  background: #45567d;
}

/* First section: About Me*/
.About-Me{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

.About-Me > p{
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: red;
}

/*Main section: Projects*/
.projects{
  text-align: center;
  padding: 10rem 2rem;
  background: #45567d;
}

.text-header{
  max-width: 720px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid #f0f0f0;
}

.webpages-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.webpage{
  background-color: #303841;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.webpage-image{
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.webpage-title{
  font-size: 2rem;
  padding: 2rem 0.5rem;
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
  color: #f0f0f0;
}

span{
  color: #303841;
  transition: color 0.3s ease-out;
}

.webpage-title:hover span{
  color: #ff7f50;
}

/*Last Section: Contact info*/
.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background-color: #303841;
}

.contact-header >h2{
  font-size: 6rem;
}

.contact-header > p{
  font-style: italic;
}

.contact-links{
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
  text-decoration: none;
  color: #f0f0f0;
}

.contact-details:hover {
  transform: translateY(8px);
}

.btn{
  display: inline-block;
  border-radius: 2px;
  padding: 1rem 2rem;
}

/*Footer*/
footer{
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: #303841;
  border-top: 4px solid #be3144;
}

.footer-details{
  font-size: 1.8rem;
  transition: transform 0.3s ease-out;
  text-decoration: none;
  color: #f0f0f0;
  text-shadow: 2px 2px 1px #be3144;
}

.footer-details:hover {
  transform: translateY(8px);
}

.btn-f{
  display: inline-block;
  border-radius: 2px;
  
}

.footer-text{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

footer > .footer-text {
  margin: 2rem;
}